<!DOCTYPE html>

{%include 'navbar.html' %}

    <!--aparelhos ativos-->

    <div class="row justify-content-evenly">
        <div class="container bg-success bg-opacity-10 col-6 mt-4 justify-content-start rounded" style="height: 20rem;">
            <div class=" card container text-center fs-1 mb-2 bg-success text-white">
                Aparelhos Ativos
            </div>
            <div class="container text-center">
                <h2>Vaso 1</h2>
                <div class="row justify-content-evenly">
                    <div class="col-3">
                        <div class="card bg-success">
                            <div class="text-bg-success mb-3" style="max-width: 10rem;">
                                <div class="card-header fw-bolder">Umidade</div>
                                <div class="card-body">
                                    <h1 class="card-title">30%</h1>
                                    <p class="card-text fw-bolder">SECO</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card bg-success">
                            <div class="text-bg-success mb-3" style="max-width: 10rem;">
                                <div class="card-header fw-bolder">Nível da Água</div>
                                <div class="card-body">
                                    <h1 class="card-title">20%</h1>
                                    <p class="card-text fw-bolder">BAIXO</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!--historico-->

        <div class="container bg-success bg-opacity-10 col-4 mt-4  rounded justify-content-start"
            style="height: 30rem;">
            <div class="container">
                <div class="text-center bg-success text-white fw-bolder rounded">
                    <h1>Histórico</h1>
                </div>
            </div>

            <div class="container overflow-auto bg-white text-black mh-90" style="width: 90%; height: 85%;">
                <p></p>
            </div>
        </div>
    </div>

</body>

</html>