{% extends"base.html" %}
{% block content%}

<style>
.hidden {
display: none !important;
}

.modal-dialog {
max-width: 100%;
}

#navUsuarios {
width: 15rem;
min-width: 15rem;
overflow-y: auto;
max-height: 100vh;
}

#KIT {
width: calc(100% - 1rem);
}

.kit-container {
height: 60vh;
overflow-y: auto;
margin-right: 1rem;
}
</style>

<!--Mostra a lista de usuários-->

<div class="d-flex">
    <div class="bg-success bg-opacity-10 overflow-auto min-vh-100 border-end border-2 border-success"
        id="navUsuarios">
        <div class="text-center mt-2">
            <button type="button" class="btn btn-primary text-white fw-bolder mb-2" data-bs-toggle="modal"
                data-bs-target="#cadastroUsuarioModal">
                Cadastrar Usuário
            </button>
        </div>


        {% for user in users %}
            <div class="bg-white text-black border border-2 border-secondary border-end-0 mb-1" style="height:4rem;"
                id="celulaUsuario">
                <p>ID: {{ user.id }}</p>
                <p>Nome: {{ user.name }}</p>
            </div>
        {% endfor %}
    </div>

    <div id="usuarioInterface" class="d-flex flex-grow-1 hidden overflow-auto">
        <div class="flex-grow-1">
            <div class="d-flex justify-content-between align-items-center mt-2">
                <h1 class="text-center flex-grow-1">Informações Gerais</h1>
                <a type="button" class="btn btn-danger me-3" id="excluirButton" href="#">Excluir</a>
            </div>

            <!--Mostra o nome,ID e o botão de editar-->
            <div class="d-flex justify-content-between align-items-center mt-2 bg-success bg-opacity-10 border-top border-bottom border-2 border-success"
                style="height: 5rem;">
                <div>
                    <p class="mt-2 ms-1">ID: 1234</p>
                    <p class="ms-1">Nome: Leandro</p>
                </div>
                <a type="button" class="btn btn-primary me-3" data-bs-toggle="modal" data-bs-target="#exampleModal"
                    href="#">Editar</a>
            </div>
            <h2 class="text-center">Aparelhos</h2>

            <!-- Adiciona um contêiner com rolagem para os kits -->
            <div class="kit-container">
                <div class="d-flex justify-content-center align-items-center flex-wrap mt-4 me-3" id="KIT">
                    <div class="bg-success bg-opacity-10 border border-2 border-success p-3 me-3 mb-3"
                        style="width: 20%; height: 15rem;">
                        <div class="d-flex flex-column align-items-center" style="height: 100%;">
                            <h3 class="mb-3">KIT 1</h3>
                            <div>
                                <p>Sensor Umidade</p>
                                <p>Sensor Ultrasonico</p>
                                <p>Relê</p>
                                <p>Bomba da água</p>
                            </div>
                        </div>
                    </div>

                    <!--Cadastra o kit-->

                    <div class="btn btn-primary p-3 ms-3 mb-3" style="width: 20%; height: 15rem;" id="cadastroKIT">
                        <div class="d-flex flex-column align-items-center" style="height: 100%;">
                            <h3 class="mb-3">Cadastrar KIT</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Interface da edição de usuario-->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered"
            style="display: flex; justify-content: center; align-items: center; min-height: 100vh;">
            <div class="modal-content" style="width: 20rem;">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Usuário</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="input-group mb-3 flex-column">
                        <div>
                            <label class="form-label">Usuário:</label>
                            <input type="text" class="form-control" placeholder="Alterar nome" aria-label="Username"
                                aria-describedby="basic-addon1">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary">Salvar mudanças</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Interface de cadastro de usuario-->
    <div class="modal" id="cadastroUsuarioModal" tabindex="-1" aria-labelledby="cadastroUsuarioLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg"
            style="display: flex; justify-content: center; align-items: center; min-height: 100vh;">
            <div class="modal-content" style="width: 20rem;">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="cadastroUsuarioLabel">Cadastrar Usuário</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="input-group mb-3 flex-column" action="/insert_user_gestao" method="post">
                        <div>
                            <label class="form-label">Usuário:</label>
                            <input type="text" class="form-control" placeholder="Nome"
                                aria-label="Username" aria-describedby="basic-addon1" name="name">
                        </div>
                        <div>

                            <label for="inputPasswordCadastro" class="form-label">Senha:</label>
                            <input type="password" id="inputPasswordCadastro" class="form-control"
                                placeholder="Senha" aria-describedby="passwordHelpBlock" name="password">
                        </div>

                        <div>
                            <label class="form-label">Role: </label>
                            <select name = "select_identifier" class="form-select" aria-label="Default select example">
                                <option selected>Seleção de Role</option>
                                <option value="normal">Normal</option>
                                <option value="administrador">Administrador</option>
                                <option value="operador">Operador</option>
                                <option value="estatístico">Estatístico</option>
                            </select>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                            <input type="submit" name="cadastro_gestao" class="btn btn-primary" value="Cadastrar">
                         </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.getElementById("celulaUsuario").addEventListener("click", function () {
            document.getElementById("usuarioInterface").classList.remove("hidden");
        });

        //script para a adição dos kits
        let contadorKit = 2;

        document.getElementById("cadastroKIT").addEventListener("click", function () {
            const newKit = document.createElement('div');
            newKit.classList.add('bg-success', 'bg-opacity-10', 'border', 'border-2', 'border-success', 'p-3', 'me-3', 'mb-3');
            newKit.style.width = '20%';
            newKit.style.height = '15rem';

            newKit.innerHTML = `
            <div class="d-flex flex-column align-items-center" style="height: 100%;">
                <h3 class="mb-3">KIT ${contadorKit}</h3>
                <div>
                    <p>Sensor Umidade</p>
                    <p>Sensor Ultrasonico</p>
                    <p>Relê</p>
                    <p>Bomba da água</p>
                </div>
            </div>
        `;

            contadorKit++;

            const kitContainer = document.getElementById("KIT");
            kitContainer.insertBefore(newKit, document.getElementById("cadastroKIT"));
        });

        //adiciona novos usuarios
        document.getElementById("cadastroUsuario").addEventListener("click", function () {
            const newUser = document.createElement('div');
            newUser.classList.add('bg-white', 'text-black', 'border', 'border-2', 'border-secondary', 'border-end-0', 'mb-1');
            newUser.style.height = '4rem';
            newUser.innerHTML = `
            <p>ID:1234</p>
            <p>Nome:Leandro</p>
        `;

            const userContainer = document.getElementById("navUsuarios");
            userContainer.appendChild(newUser);
        });

        document.getElementById("excluirButton").addEventListener("click", function () {

            // Remove o elemento com id "celulaUsuario"
            var celulaUsuario = document.getElementById("celulaUsuario");
            if (celulaUsuario) {
                celulaUsuario.remove();
            }

            // Remove o elemento com id "usuarioInterface"
            var usuarioInterface = document.getElementById("usuarioInterface");
            if (usuarioInterface) {
                usuarioInterface.remove();
            }
        });
    </script>
</div>

{% endblock%}
